.row-bordered {
  border-top: 2px solid var(--black);
  margin-bottom: -2px;
  border-bottom: 2px solid var(--black);
}

.row-bordered:hover .icon-link i,
.row-bordered:hover .title-link a h2 {
  color: var(--primary);
  scale: 1.2;
  transition: all 0.3s ease-in-out;
}

.icon-link i {
  color: var(--secondary);
  transition: all 0.3s ease-in-out;
}
